#fontfinder_statusbar {
  list-style-image: url("toolbar.png");
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
#fontfinder_statusbar[active="true"] {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#fontfinder_statusbar[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #fontfinder_statusbar {
  -moz-image-region: rect(16px, 32px, 48px, 0);
}

#fontfinder_statusbar[cui-areatype="menu-panel"][active="true"],
toolbarpaletteitem[place="palette"] > #fontfinder_statusbar[active="true"] {
  -moz-image-region: rect(48px, 32px, 80px, 0);
}

.fontfinder-icon {
  list-style-image: url("toolbar.png");
  -moz-image-region: rect(0, 32px, 16px, 16px);
}