:root {
  --bg-sec:  light-dark(#ffeaea, #373a43);
  --bg-light:  light-dark(#fff, #202124);
  --bg-dark:  light-dark(#f5f5f5, #292a2d);
  --fg:  light-dark(#222, #a3aab1);
  --fg-msg:  #787d82;
  --fg-li:  light-dark(#d13333, #c27c58);
  --link:  light-dark(#0074a5, #3e94b8);

  color-scheme: light dark;
  scrollbar-color: var(--bg-sec) var(--bg-light);
}
body {
  font-family: arial, sans-serif;
  color: var(--fg);
  background-color: var(--bg-light);
  font-size: 13px;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  margin: 0;
  border: solid 1px var(--bg-sec);
}
input[type="button"] {
  height: 28px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
header {
  background-color: var(--bg-sec);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100vw - 2ch);
  overflow: hidden;
  padding: 1ch;
  margin-bottom: 1ch;
}
footer {
  display: flex;
  align-items: center;
  background-color: var(--bg-sec);
  gap: 1ch;
  padding: 1ch;
  width: calc(100vw - 2ch);
}
footer span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-obj="font-family"],
[data-obj="remote-fonts"],
[data-obj="similar-fonts"] {
  display: flex;
  gap: 2px 5px;
  flex-wrap: wrap;
}
[data-obj="font-family"] a,
[data-obj="remote-fonts"] a,
[data-obj="similar-fonts"] span {
  white-space: nowrap;
}
[data-obj="font-family"] a:not([data-cmd="open"]),
[data-obj="remote-fonts"] a:not([data-cmd="native"]),
[data-obj="similar-fonts"] span {
  pointer-events: none;
}
[data-obj="font-family"] a.na,
[data-obj="remote-fonts"] a.na,
[data-obj="similar-fonts"] span.na {
  text-decoration: underline dashed;
}
[data-obj="font-family"] a:not(:last-child)::after,
[data-obj="remote-fonts"] a:not(:last-child)::after,
[data-obj="similar-fonts"] span:not(:last-child)::after {
  content: ',';
  display: inline-block;
  text-decoration: unset;
}
[data-obj="font-family-rendered"] {
  display: flex;
  flex-direction: column;
}
[data-obj="font-family-rendered"] div {
  display: flex;
}
[data-obj="font-family-rendered"] a {
  flex: 1;
}
#body {
  overflow: overlay;
}
#msg {
  color: var(--fg-msg);
}
#msg:not(:empty) {
  padding-top: 10px;
}
#new-content {
  display: grid;
  grid-template-columns: min-content 12ch 1fr;
  align-items: center;
  align-self: self-start;
  padding-inline: 1ch;
  grid-gap: 1ch;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #new-content {
    grid-template-columns: min-content min-content 1fr;
  }
}
#new-content > div {
  display: contents;
}
#new-content > div input:not(:checked) ~ div {
  height: 0;
  visibility: collapse;
}
.spacing {
  height: 1ch;
  background-color: var(--bg-sec);
  display: block !important;
  grid-column: 1/4;
}
.two {
  display: grid;
  grid-gap: 1ch;
  grid-template-columns: 20ch 1fr;
  align-items: baseline;
}

@media screen and (max-width: 500px) {
  .two {
    grid-template-columns: 12ch 1fr;
  }
}
.two > :nth-child(4n) {
  background-color: var(--bg-dark);
}
.two > :nth-child(2n - 1):hover + *,
.two > :nth-child(2n):hover {
  background-color: rgba(0, 105, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(0, 105, 255, 0.2);
}
.prop {
  color: var(--fg-li);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.two div[data-type="color"] {
  border: solid 1px var(--fg);
  display: inline-block;
  width: 24px;
  height: 15px;
  cursor: pointer;
}
.center {
  display: flex;
  gap: 1ch;
}
.center span {
  flex: 1;
}
.two a[href],
[data-obj="remote-fonts"] a {
  color: var(--link);
  text-decoration: none;
}
.hidden {
  display: none;
}

.fyhn {
  white-space: nowrap;
}
